html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
}

img {
  height: 600px;
  width: auto;
}

.container {
  text-align: left;
  border-top: 1px solid black;
  padding: 5px;
  margin-top: 10px
}

h2, h3 {
  text-transform: uppercase;
}





