* {
  padding: 0px;
  margin: 20px 0px;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.container {
  margin: 0px auto;
  text-align: center;
}

li {
  display: inline-block;
  border: 2px rgb(73, 177, 180) solid;
  padding: 7px;
}
